* {
    font-family: Helvetica;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.header {
    display: block;
    box-sizing: border-box;
    border-bottom: 1vh solid black;
    height: 10vh;
    width: 100vw;
    text-align: center;
    line-height: 10vh;
    font-size: 5vh;
    background-color: rgb(27, 117, 188);
    color: white;
}

.outline {
    box-sizing: border-box;
    float: left;
    display: block;
    width: 15vw;
    height: 90vh;
    border-right: 1vh solid black;
    border-top-right-radius: 10vh;
    border-bottom-right-radius: 10vh;
}

.outline t {
    display: block;
    width: 90%;
    height: 10%;
    margin: 15% auto 0;
    background-color: rgb(27, 117, 188);
    color: white;
    font-size: 3.5vh;
    text-align: center;
    box-sizing: border-box;
    border: .5vh solid black;
    border-radius: 3vh;
    line-height: 8vh;
}

.outline a {
    font-size: 3vh;
    padding: 1% 0;
    margin: 5% 10%;
    cursor: pointer;
    background-color: lightgray;
    display: block;
    text-align: center;
    border-radius: 2vh;
    text-decoration: none;
    color: black;
}

.body {
    display: block;
    height: 90vh;
    width: 85vw;
    box-sizing: border-box;
    float: right;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
}

.section {
    width: 80%;
    border: 1vh solid rgb(27, 117, 188);
    box-sizing: border-box;
    margin: 3% auto;
    border-radius: 10vh;
}

.section t {
    display: block;
    width: 30%;
    height: 5vh;
    line-height: 5vh;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-size: 3vh;
    text-align: center;
}

.section p {
    display: block;
    width: 85%;
    margin: 2% auto;
    outline: .5vh solid black;
    padding: 3vh 2.5%;
    font-size: 2.5vh;
    line-height: 5vh;
}

.reference {
    font-weight: 700;
    text-decoration: underline;
    color: rgb(27, 117, 188);
}

.notice {
    font-weight: 700;
}