.lt-container {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    background-color: white;
}

.lt-container-gray {
    background-color: rgba(48, 48, 48, 0.308) !important;
}

.lt-container::-webkit-scrollbar {
    display: none;
}

.lt-container table {
    border-collapse: collapse;
    width: calc(100% + 1px);
}

.lt-use-qty {
    border-bottom: hidden !important;
}

.lt-header {
    font-size: 2.7vh;
    font-weight: 500;
    background-color: rgb(27, 117, 188);
    color: white;
    border: .05vmax solid black;
    border-collapse: collapse;
    padding: 0 1.5vmax;
    border-top: none;
}

.lt-header-gray {
    background-color: rgba(48, 48, 48, 0.3) !important;
}

.lt-row {
    height: 5vh !important;
}

.lt-row :nth-child(1) {
    border-left: none;
}

.lt-row :nth-child(5) {
    border-right: none;
}

.lt-qty {
    padding: 0 !important;
    width: 10% !important;
}

.lt-qty-input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
    text-align: center;
    font-size: 2.3vh;
}

.lt-val {
    height: 5vh;
    font-size: 2.3vh;
    width: 10%;
    padding: 0;
    text-align: center;
    color: black;
    border: .05vmax solid black;
    border-collapse: collapse;
    padding: .5vh 1.5vmax;
}

.lt-val-gray {
    background-color: rgba(48, 48, 48, 0.308) !important;
}

.lt-lamp {
    padding: .75% !important;
    width: 1vw !important;
    cursor: pointer;
    color: black;
    border: .05vmax solid black;
    border-collapse: collapse;
    background-color: white;
    text-align: left;
}

.lt-derived {
    background-color: lightgray;
}

.lt-status {
    height: 100%;
    font-size: 2.3vh;
    background-color: lightgreen;
    text-align: center;
    width: 10% !important;
    cursor: pointer;
    color: black;
    border: .05vmax solid black;
    border-collapse: collapse;
    padding: 0px 1.5vmax;
}

.lt-status-off {
    background-color: lightcoral !important;
    color: black !important;
}

.lt-add-button {
    cursor: pointer;
    width: 5vw;
    height: 5vh;
    background-color: grey;
    text-align: center;
    font-size: 2.3vh;
    background-color: rgb(27, 117, 188);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-width: 1px;
    border-left: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
}

.lt-remove-button {
    cursor: pointer;
    width: 5vw;
    height: 5vh;
    background-color: grey;
    float: right;
    text-align: center;
    font-size: 2.3vh;
    background-color: lightcoral;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    border-width: 1px;
    border-left: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
}