.output-container {
    border: .15vmax solid black;
    display: block;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.output-container::-webkit-scrollbar {
    display: none;
}

.output-parameter {
    width: 35%;
    height: 25%;
    margin: 2% 7.5%;
}