.pane-container {
    background-color: white;
    width: 50vmin;
    height: 50vmin;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    border: 1vmin solid grey;
    border-radius: 4vmin;
    cursor: pointer;
}

.pane-container-dark {
    background-color: black;
    border-color: white;
}

.pane-title {
    display: block;
    width: 60%;
    text-align: center;
    margin: -.1% 20%;
    margin-right: 0;
    padding: 3% 0;
    background-color: rgb(27, 117, 188);
    color: white;
    font-size: 2.5vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    float: left;
}

.pane-title-dark {
    background-color: rgb(247, 148, 30);
    color: black;
}

.pane-close {
    display: block;
    margin-right: 1%;
    margin-top: 1%;
    width: 1.5vmin;
    height: 1.3vmin;
    text-align: center;
    background-color: lightcoral;
    padding: 1vmin;
    border-radius: 5vmin;
    float: right;
    font-size: 1.9vh;
    line-height: 1.6vh;
    font-weight: 600;
}

.pane-close-dark {}

.pane-select {
    float: left;
    display: block;
    width: 40%;
    text-align: center;
    margin: 1.5% 30%;
    padding: 3% 0;
    background-color: rgb(27, 117, 188);
    color: white;
    font-size: 2.5vh;
    border-radius: 5vh;
}

.pane-select-dark {
    background-color: rgb(247, 148, 30);
    color: black;
}