.param-container-down {
    width: 39%;
    height: 10vh;
    margin: 5vh 1.3vw;
    margin-bottom: 0;
    float: left;
    border: .05vmax solid black;
    box-sizing: border-box;
}

.param-container-right {
    width: 39%;
    height: 10vh;
    margin: 2.3vh 1.3vw;
    float: left;
    border: .05vmax solid black;
    box-sizing: border-box;
}

.param-down {
    width: 100%;
    height: 50%;
}

.param-right {
    width: 50%;
    height: 100%;
    float: left;
}

.param-field {
    background-color: rgb(27, 117, 188);
    font-size: 2.3vh;
    text-align: center;
    cursor: default;
    line-height: 170%;
    color: white;
    display: block;
    white-space: nowrap;
}

.param-default {
    display: block;
    text-align: center;
    font-size: 2.3vh !important;
    line-height: 190%;
    background-color: lightgray;
    color: black;
    white-space: nowrap;
}

.param-input {
    text-align: center;
    font-size: 2.3vh !important;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

.param-dropfield {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 2.3vh;
    text-align: center;
    cursor: default;
    line-height: 5vh;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}

.param-dropcontent {
    border: 1px solid black;
}

.param-dropvalue {
    position: relative;
    display: block;
    font-size: 1vmax;
    background: white;
    color: black;
    text-decoration: none;
    margin-top: 1px;
    width: 100%;
    height: 4.5vh;
    outline: 1px solid rgb(146, 121, 121);
    text-align: center;
    cursor: pointer;
    line-height: 4.5vh;
    border-bottom: hidden;
    white-space: nowrap;
}

.param-toggle {
    display: block;
    background-color: white;
    font-size: 2.3vh;
    text-align: center;
    cursor: default;
    line-height: 210%;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}