.visual-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
}

.visual-sphere-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.visual-sphere {
    height: 100%;
}